# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Optional (раскомментируйте при необходимости)
# node_modules
# dist
# .cache
